<div class="aa">
<h1>Gurgaon</h1>
<br>
Max Temperature: 35 Min Temperature: 17<br>
Humidity:53%<br>
Cloud Cover:85%
</div>

<div class="img">
<img src=https://img.clipartfest.com/6a3b1d155cfc39258da9a9093c8024b8_sun-and-clouds-clipart-sun-and-cloud-clipart_432-399.png
</div>
<div class="Home">
<a href="/home/home">Home</a>
</div>
<style>

.aa{
  text-align:center;
  position: fixed;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
}
</style>
