<body>
<div class="a">
<img src="https://s-media-cache-ak0.pinimg.com/originals/a3/99/24/a39924a3fcb7266ff7360af8a6ba2e98.jpg" style="height:900px;width:-1350px">
</div>

<div class="b">
HANGOVER CURE#
<br>BBQ Chicken,pit master,fried egg,cadied jalapenos -- 339
</div>
</body>

<%= commontator_thread(@rest)%>

<style>
.a{
position:fixed;
z-index:100;
top:10%;
left:100%
transform:translate(-50%,-50%};

.b{
 position:fixed;
 z-index:999;
 }
</style>
